body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: linear-gradient(#19464A, #162124);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    color: #f4bf06;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #f4bf06;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0.25rem;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.nav-link:hover::after,
.nav-link.active::after {
    width: 70%;
    color: #f4bf06;
}
.img {
    width: 250px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
}
